* {
    padding: 0;
    margin: 0;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom:0;
    width: 280px;
    padding: 10px 24px 24px 10px;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gora-menu {
    background: #121213;
    width: 270px;
    padding: 15px;
    border-radius: 12px;
}

.dol-menu {
    background: #121213;
    width: 280px;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.menu .nawigacja ul {
    list-style: none;
    margin-top: 10px;
}

.menu .nawigacja ul li {
    padding: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu .nawigacja ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.ikony {
    padding: 10px;
}

.fa-plus {
    margin-top: 0;
    margin-left: 120px;
}

.nawigacja .utworz_playliste {
    background: #1f1f1f;
    width: 255px;
    padding: 13px;
    margin-top: 10px;
    border-radius: 12px;
}

.btn:hover {
    background: #cccaca;
    transform: scale(1.04);
}


.duzy_tekst {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.maly_tekst {
    font-size: 14px;
}

.btn {
    background: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 130px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.menu .logo img {
    height: 25px;
}

.menu .nawigacja ul li a:hover,
.menu .nawigacja ul li a:active,
.menu .nawigacja ul li a:focus {
    color: #ffffff;
}





.container {

    margin-left:300px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;


}

.topbar {
    display: flex;
    justify-content: space-between;
    background: #121213;
    padding: 12px 20px;
    align-items: center;
    margin: 10px 7px -1px 20px;
    border-radius: 12px 12px 0 0;
}

.topbar .strzalki-btn button {
    color: rgba(214, 211, 211, 0.63);
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 100%;
    font-size: 18px;
    border: none;
    background-color: #090909;
}

.topbar .strzalki-btn {
    display: flex;
}


.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0 8px;

}

.topbar .navbar .account {
    background: #090909;;
    padding: 8px;
    border-radius: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 0 8px;
}


.fa-bell{
    color: #d5d2d2;
    font-size: 17px;
}


.topbar .navbar .odkryj-premium{
    background: white;
    padding: 8px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.topbar .navbar button:hover {
    transform: scale(1.10);

}


.topbar .navbar ul li a {
    color: #090909;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}




.topbar .navbar a{
    text-decoration: none;
    color: #090909;
}



.content {
    background: linear-gradient(to bottom, #171616, #131313);
    margin-left: 20px;
    margin-right:  7px;
    border-radius: 0 0 12px 12px;
    margin-bottom: 100px;
    flex: 1;
    padding-top:10px ;
    padding-left:30px ;
    padding-right: 30px;

}

.content .profil {
    width: 100%;
    margin-bottom: 10px;
    height: 300px;
    background: #272525;
    position: relative;
}


.profil img {
    width: 100%;
    margin-bottom: 10px;
    height: 300px;
    background: #272525;
    position: relative;
}

.profil p {
    color: white;
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}


.song-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

}

.song-table th, .song-table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.song-table th {
    background-color: #282828;
}

.song-table tr:nth-child(even) {
    background-color: #181818;
}

.song-table tr:hover {
    background-color: #282828;
}

.song-table tr:hover .play {
    display: inline-block;
}

.play {
    display: none;
    background-color: #45a049;
    color: white;
    padding: 8px ;
    border-radius:25px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 10px;
}

.song-table img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.song-table tr td {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.song-table a {
    text-decoration: none;
}

.song-table a:hover {
    text-decoration: underline;
}

.song-table td {
    margin-bottom: 50px;
    vertical-align: middle;
}
.odtwarzanie {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    margin: 0;
    opacity: 1;
    z-index: 1;
}

.odtwarzanie .ikony {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
}

.ikony i {
    font-size: 23px;
    cursor: pointer;
}



#progress {
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
}


.dolny-zasieg{
    max-width: 120px;
    height: 4px;
}




.volume-ikony {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.volume-ikony i {
    font-size: 15px;
    cursor: pointer;
}


.regulaminy {
    margin-top: 30px;
    margin-left: 10px;

    background: #121213;
    width: 100%;
    padding: 10px;
    height: 100px;
}

.regulaminy ul li p {
    margin-left:320px;
    font-size: 13px;
    color: #9e9e9e;
}

.regulaminy ul {
    list-style: none;
}

.regulaminy ul li a {
    color: #9e9e9e;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    display: block;
}

.regulaminy ul li {
    padding: 3px;
    display: inline-block;
}


.stopka {
    margin: 20px 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px;
}

hr{
    margin-top: 300px;
}

.stopka .columna {
    flex: 1;
    line-height: 30px;

}

.stopka ul li a {
    text-decoration: none;
    color: #c1c1c1;

}

.stopka ul li a:hover {
    text-decoration: underline;
    color: white;
}
.stopka ul li {
    list-style-type: none;
    line-height: 35px;
}

.stopka h4 {
    margin: 0;

}

.stopka ul {
    padding-left: 0;
    line-height: 20px;

}

.fa-instagram, .fa-twitter, .fa-facebook{
    color: white;
    font-size: 17px;
}

.sociale:hover{
    background: #302f2f;
}


.sociale{
    border: none;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    background: #1f1f1f;
}
